<div>
    <div ng-controller="UploadController">
    <span editable-text="comment.text" on-change="updateComment(value, comment.id)"></span>

    <a class='glyphicon glyphicon-trash delete-comment' ng-click="deleteComment(comment.id, $index)"></a>
        <a class="glyphicon glyphicon-save delete-comment" ngf-select="uploadFiles($files, comment.id)" multiple ngf-max-height="1000" ngf-max-size="1MB">

        </a>
        <ul>
            <li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}
                      <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                      </span>
            </li>
        </ul>
    </div>


    <div ng-repeat="files in comment.file_attachments">
        <a class='glyphicon glyphicon-cloud-download' target="_blank" ng-href="{{files.file_url}}">
            {{ files.file_identifier }}
        </a>
    </div>


</div>
