<div>
    <div ng-controller="UploadController">

        <span id="change_comment_name" name='comment_name[name]' editable-text="comment.text" e-form="commentBtnForm" onbeforesave="updateComment($data,  comment.id)">
                <span >{{ comment.text || 'empty'}}</span>
        </span>

        <div class="pull-right">
            <a class="glyphicon glyphicon-pencil" style="color: inherit;font-size: inherit"ng-click="commentBtnForm.$show()" ng-hide="commentBtnForm.$visible"></a>
            <a class='glyphicon glyphicon-trash delete-comment' ng-click="deleteComment(comment.id, $index)"></a>
            <a class="glyphicon glyphicon-save delete-comment" ngf-select="uploadFiles($files, comment.id)" multiple ></a>
        </div>


        <ul>
            <li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}
                      <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                      </span>
            </li>
        </ul>
    </div>


    <div ng-repeat="files in comment.file_attachments">
        <a class='glyphicon glyphicon-cloud-download' it="file_attach" target="_blank" ng-href="{{files.file_url}}">
            {{ files.file_identifier }}
        </a>
    </div>
</div>

