<div class='task-check'>
    <input type="checkbox" id="task_status" ng-checked="task.status == true" ng-click="updateStatus(task.id, task.status, $index)">
</div>
<div class='task-text'>
        <div>
            <span ng-class="{'done': task.status == true}" id="change_task_name" e-form="taskBtnForm" name='task_name[name]'editable-text="task.title" e-style='background-color:inherit;font-weight: bold;font-size: 13px;color: #999999;'onbeforesave="updateTask($data, task.id)">{{ task.title || 'empty' }}</span>
            <span  class='pull-right glyphicon glyphicon-fire'ng-if="task.deadline"> {{task.deadline|date:"dd.MM.yy"}}</span>
        </div>


    <div class='comments' ng-controller='CommentsController' ng-show="showComments">
        <form name="nameOfComment" ng-submit='createComment(task.id,nameOfComment.name.$valid)' >
            <a class='glyphicon glyphicon-plus-sign comment-add' ng-click='createComment(task.id,nameOfComment.name.$valid)'></a>
            <input class='comment-input'  ng-model="commentName" name="name" placeholder="Enter comment name" required>
        </form>
        <div class='comments-list' ng-include='"layouts/comment.html"' ng-repeat='comment in task.comments'></div>
    </div>

</div>
<div class='task-change'>
    <input class='glyphicon glyphicon-time button-ok' ng-change='setDeadline(task.id, task)' ng-model='task.deadline' type='button' ui-date-format='yy-mm-dd' ui-date='dateOptions'>

    <a class=" glyphicon glyphicon-pencil" ng-click="taskBtnForm.$show()" ng-hide="taskBtnForm.$visible"></a>
    <a class='glyphicon glyphicon-comment' ng-click='showComments = !showComments'></a>
    <a class='glyphicon glyphicon-trash' id='deleteTask'ng-click="deleteTask(task.id, $index)"></a>
</div>


