<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="content-header">
    <h2>
      <b>SIMPLE TODO LISTS</b>
    </h2>
    <h4>FROM RUBY GARAGE</h4>
  </div>
</header>

<%= yield %>

<footer>
  <p>&copy; Ruby Garage</p>
</footer>
</body>
</html>
